<div class="container">
    <div class="mail-box">
        <aside class="sm-side">
            <library-user></library-user>
            <div class="inbox-body">
                <a href="#myModal" data-toggle="modal"  title="Compose"    class="btn btn-compose">
                    Compose
                </a>                
            </div>            
            <library-tags></library-tags>
            <library-buddy></library-buddy>
        </aside>
        <aside class="lg-side">
            <div class="inbox-head">
                <h3>Inbox</h3>
                <library-search></library-search>
            </div>
            <div class="inbox-body">
                
            </div>
        </aside>
    </div>
</div>