<ul class="nav nav-pills nav-stacked labels-info ">
    <li> <h4>Buddy online</h4> </li>
    <li> <a href="#"> <i class=" fa fa-circle text-success"></i>Alireza Zare <p>I do not think</p></a>  </li>
    <li> <a href="#"> <i class=" fa fa-circle text-danger"></i>Dark Coders<p>Busy with coding</p></a> </li>
    <li> <a href="#"> <i class=" fa fa-circle text-muted "></i>Mentaalist <p>I out of control</p></a>
    </li><li> <a href="#"> <i class=" fa fa-circle text-muted "></i>H3s4m<p>I am not here</p></a>
    </li><li> <a href="#"> <i class=" fa fa-circle text-muted "></i>Dead man<p>I do not think</p></a>
    </li>
</ul>
<div class="inbox-body text-center">
    <div class="btn-group">
        <a class="btn mini btn-primary" href="javascript:;">
            <i class="fa fa-plus"></i>
        </a>
    </div>
    <div class="btn-group">
        <a class="btn mini btn-success" href="javascript:;">
            <i class="fa fa-phone"></i>
        </a>
    </div>
    <div class="btn-group">
        <a class="btn mini btn-info" href="javascript:;">
            <i class="fa fa-cog"></i>
        </a>
    </div>
</div>