<ul class="nav nav-pills nav-stacked labels-info inbox-divider">
    <li> <h4>Tags</h4> </li>
    <li> <a href="#"> <i class=" fa fa-sign-blank text-danger"></i> Work </a> </li>
    <li> <a href="#"> <i class=" fa fa-sign-blank text-success"></i> Design </a> </li>
    <li> <a href="#"> <i class=" fa fa-sign-blank text-info "></i> Family </a>
    </li><li> <a href="#"> <i class=" fa fa-sign-blank text-warning "></i> Friends </a>
    </li><li> <a href="#"> <i class=" fa fa-sign-blank text-primary "></i> Office </a>
    </li>
</ul>